

html{
    box-sizing: border-box;
    font-size: 62.5%;/* Reset para REMS 62.5% = 10px de 16px*/
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    line-height: 2;
}

/** Globales **/

.contenedor{
    max-width: 117rem;/* =1200 px*/
    margin: 0 auto 0 auto;
}
img{
    max-width: 100%;
}
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 3.4rem;
}
h3{
    font-size: 3rem;
    color:red;
}
h4{
    font-size: 2.6rem;
}


/* Utilidades */
.section{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.fw-300{
    font-weight: 300;  
}
.centrar-texto{
    text-align: center;
}

.d-block{
    display: block!important;
}
.contenido-centrado{
    max-width: 90rem;
}
/*botones*/
.boton:hover{
    cursor: pointer; 
}
.boton{
    color: #ffffff;font-weight: 700;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: inline-block;
    text-align: center;
    border: none;
}
.boton-amarillo{
    background-color: #E08709;
}
.boton-verde{
    background-color: #71B100;
}
/* header */
.site-header{
    background-color: #333333;
    padding: 1rem 0 2rem 0;
}
.site-header.inicio{
    background-image: url(../img/header.jpg);
    background-position: center center;
    background-size: auto;
    height: 100vh;
    min-height: 60rem; 
    
}
.contenido-header{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}
.contenido-header h1{
    color: #ffff;
    padding-bottom: 2rem;
    max-width: 60rem;
    /*esta propiedad permite el interlineado*/
    line-height: 2
}
.barra{
    display: flex;
    justify-content:space-between;/* esta propiedad se utiliza para alinear el NV horizontal mente*/
    padding-top:3rem;
    align-items:center;
    
}

/*la propiedad permite alinear uno debajo del otro 
---- align-items: flex-end  ------
la propiedad permite alinear arriba del  otro
---- align-items: flex-stard  ------
*/
/*Navegacion*/

.navegacion a{
    color: white;
    text-decoration: none;
    font-size: 1.8rem;/* = 18px*/
    margin-right: 2rem;
    
}
/*se utiliza pa ra eliminar el valor ala ultima propiedad(seudo selectores)*/
.navegacion a:last-of-type{
    margin: 0;
}
.navegacion a:hover{
    color: #71B100;
}

/* Iconos Nosotros*/

.iconos-nosotros{
    display: flex;
    justify-content: space-between;
}
.icono{
    flex-basis: calc(33.3% - 1rem);
    text-align: center;
}

.icono h3{
    text-transform: uppercase;
}
/* Encabezado nosotros*/

.encabezado-nosotros{
    font-weight: 300;
    text-align: center;
}

/* Anuncios */

.contenedor-anuncios{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}
.anuncio{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(33.3% - 1rem);
    flex: 0 0 calc(33.3% - 1rem);
    border: 1px solid #b5b5b5;
    background: #f5f5f5;
    margin-bottom: 2rem;
}
.contenido-anuncio{
    padding: 2rem;
}
.contenido-anuncio h3, .contenido-anuncio p{
    margin: 0;
}
.precio{
    color: #71b100;
    font-weight: 700;
}
.iconos-caracteristica{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    max-width: 50rem;
    flex:1;/*para que no se comprima y cresca siendo limitado por max width*/
}
.iconos-caracteristica li{
    /*flex: 1;*/
}
.iconos-caracteristica li img{
    margin-right: 2rem;
}
.ver-todas{
    display: flex;
    justify-content: flex-end;
}
/* Contacto home*/
.imagen-contacto{
    margin-top: 2rem;
    background-image: url(../img/encuentra.jpg);
    background-position: center;
    background-size: cover;
    height: 40rem;
    display: flex;
    align-items: center;
}
.contenido-contacto{
    flex: 1;
    color: #ffffff;
}
.contenido-contacto p{
    font-size: 1.8rem;
    
}
/* Seccion inferior */
 
.seccion-inferior{
    display: flex;
    justify-content: space-between;
    
}
.seccion-inferior .blog{
    flex-basis: 60%;
}
.seccion-inferior .testimoniales{
    flex-basis: calc(40% - 2rem);
}.entrada-blog{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
/*seleciona ultimo elemento*/
.entrada-blog:last-of-type{
    margin-bottom: 0;
}
.entrada-blog .img{
    flex-basis: 40%;
}
.entrada-blog .texto-entrada{
    flex-basis: calc(60% - 3rem);
}
.texto-entrada h4{
    margin: 0;
    line-height: 1.4;
}
.texto-entrada{
    margin-left: 2rem;
}
.texto-entrada a{
    color: black;
    text-decoration: none;
}
/*pseudoelementos ! linea verde ! fires ford*/
.texto-entrada h4::after{
    content: '';
    display: block;
    width: 15rem;
    height: .5rem;
    background-color: #71B100;
    margin-top: 1rem;
}

.texto-entrada span{
    color: #E08709;
    font-weight: 400;
}
/* textimoniales*/
.textimonial{
    background-color: #71B100;
    font-size: 2rem;
    padding: 2rem;
    color: #ffffff;
    border-radius: 2rem;
}
.textimonial p{
    text-align: right;  
}
.textimonial blockquote::before{
    content: '';
    background-image: url(../img/comilla.svg);
    width: 4rem;
    height: 4rem;
    position: absolute;
    left: -2rem;
    
}
.textimonial blockquote {
    position: relative;
    padding-left: 5rem;
    font-weight: 300;
}
/* footer*/
.site-footer{
    background-color: #333333;
    margin: 0;
    margin-top: 2rem;
}
.contenedor-footer{
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
}
.copyright{
    margin: 0;
    color: #ffffff;
}

/********** *********** Interna *********** *****************/

/*Nosotros*/
.contenido-nosotros{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-column-gap: 2rem;
}
.texto-nosotros blockquote{
    font-weight: 900;
    font-size: 2rem;
    margin: 0;
    padding: 3rem 0;
}

/*Anuncios*/
.resumen-propiedad{
    display: flex;
    justify-content: space-around;
}

/**** Contacto ****/

from p{
    font-size: .6rem;
    color: #4f4f4f;
    margin: 2rem 0 0 0 ;
}
legend{
    font-size: 2.4rem;
    color: #333333;
}
label{
    font-weight: 700;
    text-transform: uppercase;
    display: block;
}
input:not([type="submit"]),textarea, select{
    padding: 0.5rem;
    display: block;
    width: 100%;
    background-color: #e1e1e1;
    margin-bottom: 2rem;
    border: none;
    border-radius: 1rem;
}
input[type="radio"]{
    width: auto;
    margin: 0;
}
select{
    -webkit-appearance:none;
    appearance:none
}

.forma-contacto{
    max-width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



